<a href="https://colab.research.google.com/github/DeepVader/DADS4002/blob/main/Ex02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex02

# 1

In [1]:
# 1.1
X = 0
Y = 5
print(X, Y, X == Y)

X = 0
Y = X
print(X, Y, X == Y)

0 5 False
0 0 True

In [2]:
# 1.2
Y = 7
Z = 9
print(Y, Z, Y >= Z)

Y = 0
Z = 9
print(Y, Z, Y >= Z)

Y = 7
Z = Y
print(Y, Z, Y >= Z)

7 9 False
0 9 False
7 7 True

In [3]:
# 1.3
X = 3 * 5
print(X, (X % 3 == 0 )or(X % 5 == 0))

X = 5
print(X, (X % 3 == 0 )or(X % 5 == 0))

X = 4
print(X, (X % 3 == 0 )or(X % 5 == 0))

15 True
5 True
4 False

In [4]:
# 1.4
X = 0
Y = 10
Z = -1
print(X, Y, Z, X > 0 and Y > 0 and Z > 0)

X = 1
Y = 10
Z = 5
print(X, Y, Z, X > 0 and Y > 0 and Z > 0)

X = 1
Y = 0
Z = 5
print(X, Y, Z, X > 0 and Y > 0 and Z > 0)

0 10 -1 False
1 10 5 True
1 0 5 False

In [5]:
# 1.5
X = 7 * 5
print(X, (X % 5 != 0)and(X % 7 != 0))

X = 4
print(X, (X % 5 != 0)and(X % 7 != 0))

X = 5
print(X, (X % 5 != 0)and(X % 7 != 0))

35 False
4 True
5 False

In [6]:
# 1.6
X = 10
Y = -72
Z = 100
print(X, Y, Z, (X == Y == Z)and(X != 0))

X = 100
Y = 100
Z = 100
print(X, Y, Z, (X == Y == Z)and(X != 0))

X = 0
Y = 0
Z = 0
print(X, Y, Z, (X == Y == Z)and(X != 0))

10 -72 100 False
100 100 100 True
0 0 0 False

# 2

In [7]:
# 2.1
price = float(input("ราคาสินค้าทั้งหมด (บาท): "))
while price <= 0:
    price = float(input("ราคาสินค้าทั้งหมด (บาท): "))

money = float(input("จำนวนเงินที่ลูกค้าให้มา (บาท): "))

while money < price:
    money = float(input("จำนวนเงินที่ลูกค้าให้มา (บาท): "))

print("-----" * 3)
print(f"จำนวนเงินทอน {money - price :.2f} (บาท)")

ราคาสินค้าทั้งหมด (บาท): -7.2
ราคาสินค้าทั้งหมด (บาท): 1.25
จำนวนเงินที่ลูกค้าให้มา (บาท): 1
จำนวนเงินที่ลูกค้าให้มา (บาท): 10000
---------------
จำนวนเงินทอน 9998.75 (บาท)

In [8]:
# 2.2
service = 10
vat = 7

sub_total = float(input("ราคาอาหารทั้งหมด (บาท): "))
while sub_total <= 0:
    sub_total = float(input("ราคาอาหารทั้งหมด (บาท): "))

discount = int(input("ส่วนลด (0-100 เปอร์เซ็นต์): "))
while discount not in range(1, 100 + 1):
    discount = int(input("ส่วนลด (0-100 เปอร์เซ็นต์): "))

discount_thb = sub_total * discount / 100
service_thb = (sub_total - discount_thb) * service / 100
vat_thb = (sub_total - discount_thb + service_thb) * vat / 100

grand_total = sub_total - discount_thb + service_thb + vat_thb

print("Sub Total: {:.2f} THB".format(sub_total))
print("Discount {}%: {:.2f} THB".format(discount, discount_thb))
print("Total after discount: {:.2f} THB".format(sub_total - discount_thb))
print()
print("Service charge {}%: {:.2f} THB".format(service, service_thb))
print("Total: {:.2f} THB".format(sub_total - discount_thb + service_thb))
print("Vat {}%: {:.2f} THB".format(vat, vat_thb))
print("-----" * 3)
print("Grand Total: {:.2f} THB".format(grand_total))

ราคาอาหารทั้งหมด (บาท): 0
ราคาอาหารทั้งหมด (บาท): 100
ส่วนลด (0-100 เปอร์เซ็นต์): -70
ส่วนลด (0-100 เปอร์เซ็นต์): 10
Sub Total: 100.00 THB
Discount 10%: 10.00 THB
Total after discount: 90.00 THB

Service charge 10%: 9.00 THB
Total: 99.00 THB
Vat 7%: 6.93 THB
---------------
Grand Total: 105.93 THB

In [9]:
# 2.3
width = float(input("width: "))
while width <= 0:
    width = float(input("width: "))

length = float(input("length: "))
while length <= 0:
    length = float(input("length: "))

area = width * length

print("width = {:.2f} cm.".format(width))
print("length = {:.2f} cm.".format(length))
print("area of rectangle = {:.2f} cm.".format(area))

width: -2
width: 5
length: 0
length: 7
width = 5.00 cm.
length = 7.00 cm.
area of rectangle = 35.00 cm.

# 3

In [10]:
# 3.1
a = 10
b = 20.0
c = b**a
d = str(c)

x = c == d
type(x)

bool

In [11]:
# 3.2
i = str("100")
j = int(i) // 10

x = j / 2
type(x)

float

In [12]:
# 3.3
m = 11 % 100
n = 2.0**10

x = str(int(m + n)) * 2
type(x)

str

In [13]:
# 3.4
age = 29
sex = "female"
height = 165
weight = 48

x = (sex == "female") and (
    age < 25 or (height > 150 and height < 170 and weight >= 40 and weight <= 50)
)
type(x)

bool

# 4

In [14]:
x = int(input("Enter a positive integer: "))
while x <= 0:
    x = int(input("Enter a positive integer: "))

print(
    f"{x} + {int(str(x)*2)} + {int(str(x)*3)} + {int(str(x)*4)} = {x + int(str(x)*2) + int(str(x)*3) + int(str(x)*4)}"
)

Enter a positive integer: 0
Enter a positive integer: -5
Enter a positive integer: 8
8 + 88 + 888 + 8888 = 9872