<a href="https://colab.research.google.com/github/DeepVader/DADS4002/blob/main/Ex05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex05

In [1]:
# 1
price = float(input("ราคาสินค้า: "))
money = float(input("จำนวนเงินที่รับจากลูกค้า: "))

while not (price <= money):
    price = float(input("ราคาสินค้า: "))
    money = float(input("จำนวนเงินที่รับจากลูกค้า: "))

print(f"ราคาสินค้า (เยน): {price:.2f}")
print(f"จำนวนเงินที่รับมา (เยน): {money:.2f}")
print()

result = money - price
print(f"เงินทอน (เยน): {result:.2f}")

japan_money = [10000, 5000, 2000, 1000, 500, 100, 50, 10, 5, 1]

for i in sorted(japan_money, reverse=True):
    x = result // i
    print(f"    {i} เยน จำนวน {int(x*i)}")
    result %= i

ราคาสินค้า: 125
จำนวนเงินที่รับจากลูกค้า: 10000
ราคาสินค้า (เยน): 125.00
จำนวนเงินที่รับมา (เยน): 10000.00

เงินทอน (เยน): 9875.00
    10000 เยน จำนวน 0
    5000 เยน จำนวน 5000
    2000 เยน จำนวน 4000
    1000 เยน จำนวน 0
    500 เยน จำนวน 500
    100 เยน จำนวน 300
    50 เยน จำนวน 50
    10 เยน จำนวน 20
    5 เยน จำนวน 5
    1 เยน จำนวน 0

In [2]:
# 2
Lst = []
for i in range(2000, 3200+1):
    if (i % 7 == 0) and (i % 5 != 0):
        Lst.append(i)

print(Lst)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [3]:
# 3
ex = [[11, 77, 33], [11, 22, 55, 0], [11, 0], [11]]

for ogList in ex:
    print(f"Original list: {ogList}")

    shList = ogList.copy()
    shList[0] = ogList[-1]
    shList[1:] = ogList[:-1]

    print(f"Shifted list: {shList}")
    print()

Original list: [11, 77, 33]
Shifted list: [33, 11, 77]

Original list: [11, 22, 55, 0]
Shifted list: [0, 11, 22, 55]

Original list: [11, 0]
Shifted list: [0, 11]

Original list: [11]
Shifted list: [11]

In [4]:
# 4
lstA = [10, 20.0, "Hello world", True, False]
lstB = lstA.copy()
print("lstA:", lstA)
print("lstB:", lstB)

lstA[0] *= 50
print("lstA:", lstA)
print("lstB:", lstB)

lstA: [10, 20.0, 'Hello world', True, False]
lstB: [10, 20.0, 'Hello world', True, False]
lstA: [500, 20.0, 'Hello world', True, False]
lstB: [10, 20.0, 'Hello world', True, False]

In [5]:
# 5
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = len(lst)
print(f"lst is {lst}")
print(f"the length of the list is {n}")

lst is [1, 2, 3, 4, 5, 6, 7, 8, 9]
the length of the list is 9

In [6]:
# 5.1
lst1 = []

if n < 3:
    print("the length of the lst less 3")
else:
    lst1 = lst[:3].copy()
    print(f"the values in the first 3 positions of the lst : {lst1}")

the values in the first 3 positions of the lst : [1, 2, 3]

In [7]:
# 5.2
lst2 = []

if n < 3:
    print("the length of the lst less 3")
else:
    lst2 = lst[-3:].copy()
    print(f"the values in the last 3 positions of the lst : {lst2}")

the values in the last 3 positions of the lst : [7, 8, 9]

In [8]:
# 5.3
if n < 3:
    print("the length of the lst less 3")
elif n == 3:
    lst3 = lst.copy()
    print(f"the length of the lst equals 3 : {lst3}")
elif n % 2 == 0:
    mid = n // 2
    lst3 =  lst[mid-1:mid+1].copy()
    print(f"Values ​​in the middle 3 positions of the lst : {lst3}")
elif n % 2 == 1:
    mid = n // 2
    lst3 = lst[mid-1:mid+2].copy()
    print(f"Values ​​in the middle 3 positions of the lst : {lst3}")

Values ​​in the middle 3 positions of the lst : [4, 5, 6]

In [9]:
# 5.4
c = 0
lst4 = []

for i in lst:
    if n < 3:
        print("the length of the lst less 3")
        break

    elif c == 3:
        break
    elif i % 2 ==0:
        lst4.append(i)
        c += 1

if len(lst4) <= 0:
    print("No values ​​are even")
else:
    print(f"The values ​​in the first 3 positions of the lst; the value is even numbers : {lst4}")

The values ​​in the first 3 positions of the lst; the value is even numbers : [2, 4, 6]

In [10]:
# 6
x = input("Enter input words (each word must be separated by space): ")
countWord = [0, 0, 0, 0]
wordLst = [[], [], [], []]

result = x.split()
for i in result:
    if len(i) == 1:
        countWord[0] += 1
        wordLst[0].append(i)
    elif len(i) == 2:
        countWord[1] += 1
        wordLst[1].append(i)
    elif len(i) == 3:
        countWord[2] += 1
        wordLst[2].append(i)
    else:
        countWord[3] += 1
        wordLst[3].append(i)

print(f"1 characters: {countWord[0]} words including {wordLst[0]}")
print(f"2 characters: {countWord[1]} words including {wordLst[1]}")
print(f"3 characters: {countWord[2]} words including {wordLst[2]}")
print(f"More than 3 characters: {countWord[3]} words including {wordLst[3]}")

Enter input words (each word must be separated by space): a at ant bat study copy xerox objects x y z
1 characters: 4 words including ['a', 'x', 'y', 'z']
2 characters: 1 words including ['at']
3 characters: 2 words including ['ant', 'bat']
More than 3 characters: 4 words including ['study', 'copy', 'xerox', 'objects']